* {
    box-sizing: border-box;
}

:root{
    --width: 35%;
    --color1: white;
}

body{
    background-color: rgb(230, 230, 230);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* H1 & FORM */

h1{
    font-size: 3em;
}

.add-container{
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    padding: 20px;
    width: var(--width);
}

form{
    display: flex;
    flex-direction: column;
}

form table{
    font-size: 1.2em;
}

form table input{
    width: 100%;
    padding: 5px;
}

form table button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form table button:hover{
    background-color: rgb(0, 110, 255);
}

form table button:active{
    background-color: rgb(120, 180, 255);
}

form table input, form table button{
    font-size: 1.2em;
}

/* GRADE CONTAINER */

.grade-container{
    background-color: white;
    width: var(--width);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.lessons .grades{
    width: 500px;
    border: 0.5px rgb(230, 230, 230) solid;
    border-collapse: collapse;
    background-color: rgb(245, 245, 245);
}

.grades td{
    border: 0.5px rgb(230, 230, 230) solid;
    width: 125px;
    padding: 5px;
}

.grades .table-text-container, .grades .table-number-container{
    color: gray;
    font-weight: bold;
}

.grades .point-container{
    color: rgb(0, 175, 0);
    font-weight: bold;
}

.grades .table-number-container{
    text-align: center;
}

.performance-input-container, .exam-input-container{
    margin: 0;
    padding: 0;
}

.exam-input, .performance-input{
    text-align: center;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
    color: midnightblue;
    font-weight: bold;
}

.grades .remove-button{
    width: 100%;
    height: 100%;
    padding: 7px;
    border: none;
    background-color: hsl(0, 100%, 41%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.grades .remove-button:hover{
    background-color: hsl(0, 100%, 51%);
}

.grades .remove-button:active{
    background-color: hsl(0, 100%, 71%);
}

.grades .clear-button{
    width: 100%;
    height: 100%;
    padding: 7px;
    border: none;
    background-color: hsl(203, 100%, 40%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.grades .clear-button:hover{
    background-color: hsl(203, 100%, 55%);
}

.grades .clear-button:active{
    background-color: hsl(203, 100%, 70%);
}

hr{
    width: 500px;
}

.gpa-container{
    display: inline;
    font-size: 1.3em;
    font-weight: bold;
}

.gpa{
    font-weight: bold;
    color: rgb(0, 175, 0);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}